%ul
  %li
    CphEx
    %ul
      %li
        The Elixir meetup in Copenhagen.
      %li
        Help out organizing meet ups and events over at
        %a{href: 'https://github.com/cphex/cphex/issues/'} github.com/cphex/cphex/issues
