%ul
  %li
    Elixir London Meetup
    %ul
      %li
        Usually the last Thursday of the month, hosted at the
        %a{href: 'https://www.google.co.uk/maps/place/GoCardless/@51.5305125,-0.1032854,15z/data=!4m2!3m1!1s0x0:0x50df67c6c5283ed?sa=X&ei=K7WRVcHaFMPfU4D1icAO&ved=0CH8Q_BIwDQ'} GoCardless
        offices
      %li
        RSVP on
        %a{href: 'http://www.meetup.com/Elixir-London/'} meetup.com

