%ul
  %li
    %h3 Bay Area Elixir Meetup
    %p Join enthusiastic Elixir programmers in a supportive community. We'll learn from companies using Elixir in production, collaborate on open-source projects, and explore the nuances of Elixir essentials like OTP, Phoenix, macros, and ETS.
    
    %p Whether you're just getting curious about the language or a long-time user looking for a supportive and like-minded community, come join us for a night of short talks, programming, and concurrent networking.
      
    %p RSVP on %a{href: 'www.meetup.com/Bay-Area-Elixir-Meetup/'} meetup.com
