%ul
  %li
    Bay Area Elixir Meetup
    %ul
      %li
        Join enthusiastic Elixir programmers in a supportive community. We'll learn from
        companies using Elixir in production, collaborate on open-source projects, and
        explore the nuances of Elixir essentials like OTP, Phoenix, macros, and ETS.
        Whether you're just getting curious about the language or a long-time user
        looking for a supportive and like-minded community, come join us for a night of
        short talks, programming, and concurrent networking.
      %li
        RSVP on
        %a{href: 'www.meetup.com/Bay-Area-Elixir-Meetup/'} meetup.com
  %li
    Boston Elixir
    %ul
      %li
        Meet other Elixir enthusiasts! This meetup will try to meet on a regular basis to 
        share knowledge on the Elixir programming language.
      %li
        RSVP on
        %a{href: 'www.meetup.com/Boston-Elixir/'} meetup.com
