%h2 Welcome to the Elixir Community

%p
  Elixir is a wonderful language, it's complimented by an interesting and vibrant
  community.
  But like most passionate enterprises, organisation is a secondary (and less
  interesting) concern.  It's not hard to miss out on useful information and resources.

%p
  This site is an experiment in trying to remedy that problem.  It's a small project by
  the community, for the community.  Anyone is welcome to pitch in, help set direction or
  provide feedback.  Nothing is sacrosanct!


%h2 Contributing

%p
  You can contribute in any way that you would like.  Add a meetup for your city, send a
  pull-request that fixes my terrible markup,
  %a{href: 'https://github.com/elixir-community/elixir.community/issues'} raise an issue
  to tell me the font sucks.
  If you'd rather fire off an email or jump on the
  %span.keyword #community
  slack channel, go right ahead.

%p
  Here are some things that might be nice:

%ul
  %li Content from the community!
  %li A better design, maybe responsive too.
  %li Convert the sinatra app to a static site hosted on S3.
  %li Some kind of job board?
