%p
  There are plenty of good resources to get you started on your Elixir journey, this list
  is not exhaustive and there will certainly be plenty of things added to it  over time.


%h2
  %a{href: 'http://elixir-lang.org/getting-started/introduction.html'} Getting Started
%p
  The languages own guide to getting started is actually pretty thorough, and it includes
  some concepts from OTP that you will want to learn more about later.


%h2
  %a{href: 'http://elixirsips.com/'} Elixir Sips
%p
  For a small monthly fee you can get access to over 19 hours of short screencasts that
  cover some detail about, or in, Elixir.  A new one is added each week and they are
  usually small enough to squash into even the tightest of schedules.


%h2
  %a{href: 'http://chimera.labs.oreilly.com/books/1234000001642/index.html'} Elixir Etudes
%p
  A series of small examples that encourage practice in Elixir concepts, available online
  for free, but you can also purchase the book.


%h2
  %a{href: 'http://plataformatec.com.br/elixir-radar'} Elixir Radar
%p
  This is the
  %a{href: 'http://plataformatec.com.br'} Plataformatec
  mailing list for anything interesting about Elixir, ranging from blog posts, to
  libraries, to jobs.


%h2
  %a{href: 'http://learnyousomeerlang.com/'} Learn You Some Erlang For Great Good
%p
  Elixir provides great interoperability (it's actually a two-way-street) with Erlang,
  many of the libraries are wrappers around Erlang libraries.  This book provides a great
  deal of content and a good overview of OTP.


%h2
  %a{href: 'https://soundcloud.com/elixirfountain'} Elixir Fountain
%p
  A great podcast that includes interviews with people throughout the Elixir community.


%h2
  %a{href: 'https://github.com/h4cc/awesome-elixir'} Awesome Elixir
%p
  One giant list of awesome Elixir libraries and projects, hand-curated by
  %a{href: 'https://github.com/h4cc'} h4cc


%h2 Something missing?
%p
  Send a pull-request!
