%p
  Sometimes you get stuck, or you have an idea you want to voice, or you just feel like 
  having a chat.  The Elixir community already provides several options.


%h2 Freenode

%p
  Freenode is an IRC network that allows users to register and create public rooms around
  any topic they might like.  There's been an
  %span.keyword #elixir-lang
  channel for quite some time now
  and it features many of the developers that work directly on Elixir itself.
  It's a great place to listen to Jose and the others talk about the implementation and
  evolution of the language, as well as ask for help.
  Another channel of note is
  %span.keyword #phoenix
  where you can discuss and get support for the
  %a{href: 'http://www.phoenixframework.org'} Phoenix
  web framework by Chris McCord.

%p
  If you're not sure about how to use IRC, you can try something like
  %a{href: 'https://www.irccloud.com/'} IRCCloud
  which will get you started with a lower overhead.


%h2 Slack

%p
  The
  %a{href: 'https://elixir-slackin.herokuapp.com/'} elixir-lang
  slack group has been operating for a few months but it's growing in size very
  quickly.  There's some crossover with IRC but the interface is much more accessible.
  The slack group is also home to chat for several of the global meetups, such as
  %span.keyword #london
  for example.  Channels are centered around topics, but
  %span.keyword #general
  is a good place to start if you have questions or need help.


%h2 Mailing Lists

%p
  If you prefer something a little more passive you can always join the mailing lists.
  The language maintainers provide two, the
  %a{href: 'https://groups.google.com/forum/#!forum/elixir-lang-core'} core mailing list
  for updates and discussions around the language itself, including any features or 
  patches.
  Or the 
  %a{href: 'https://groups.google.com/forum/#!forum/elixir-lang-talk'} talk mailing list 
  for everything else related to Elixir.
