$background-color: #F2F2F2;
$primary-color: #6B496B;
$hero-background-color: #FFFFFF;
$nav-link-color: #FFFFFF;
$nav-hover-color: #32264E;

$link-hover-color: #A27278;
$link-color: #6F486E;

$keyword-color: #FFFFFF;
