%section
  %ul
    %li
      Annotations should usually be written on the line immediately above the relevant code.
    %li
      The annotation keyword is followed by a colon and a space, then a note describing the problem.
    %li
      If multiple lines are required to describe the problem, subsequent lines should be indented two spaces after the #.
    %li
      In cases where the problem is so obvious that any documentation would be redundant, annotations may be left at the end of the offending line with no note. This usage should be the exception and not the rule.
    %li
      Use
      %span.keyword TODO
      to note missing features or functionality that should be added at a later date.
    %li
      Use
      %span.keyword FIXME
      to note broken code that needs to be fixed.
    %li
      Use
      %span.keyword OPTIMIZE
      to note slow or inefficient code that may cause performance problems.
    %li
      Use
      %span.keyword HACK
      to note code smells where questionable coding practices were used and should be refactored away.
    %li
      Use
      %span.keyword REVIEW
      to note anything that should be looked at to confirm it is working as intended. For example: REVIEW: Are we sure this is how the client does X currently?
    %li
      Use other custom annotation keywords if it feels appropriate, but be sure to document them in your project's
      %span.keyword README
      or similar.
