%section
  %ul
    %li
      Write self-documenting code and ignore the rest of this section. Seriously!
    %li
      Use one space between the leading # character of the comment and the text of 
      the comment.
    %li
      Comments longer than a word are capitalized and use punctuation. Use one space 
      after periods.

  .example
    %pre
      %code.language-elixir{:'data-lang' => 'elixir'}
        :preserve
          String.upcase(some_string) # Capitalize string

%section
  %ul
    %li
      Keep existing comments up-to-date. An outdated comment is worse than no comment at all.
    %li
      Avoid writing comments to explain bad code. Refactor the code to make it
      self-explanatory.
