%p You should use two spaces spaces per indentation level.  No hard tabs.

.not-preferred
  %pre
    %code.language-elixir{:'data-lang' => 'elixir'}
      :preserve
        def some_function do
            do_something
        end
.preferred
  %pre
    %code.language-elixir{:'data-lang' => 'elixir'}
      :preserve
        def some_function do
          do_something
        end
