%section
  %p
    Suggested alternatives are styles that haven't been seen much in the community yet
    but might provide some value.

  %h3 Cond
  %p
    An atom can be used as a catch-all expression in a
    %span.keyword cond
    as it evaluates to a truthy
    value.  Suggested atoms are
    %span.keyword :else
    or
    %span.keyword :otherwise
    \.

  .example
    %pre
      %code.language-elixir{:'data-lang' => 'elixir'}
        :preserve
          cond do
            1 + 2 == 5 ->
              "Nope"
            1 + 3 == 5 ->
              "Uh, uh"
            :else ->
              "OK"
          end

          # is the same as
          cond do
            1 + 2 == 5 ->
              "Nope"
            1 + 3 == 5 ->
              "Uh, uh"
            true ->
              "OK"
          end
